<div id="supporting-info">
    <div>This is the Supporting page</div>
    <div>You can get information about an order you placed on the website</div>
    <div>Call xxx-xxx-xxx to get futher support</div>
</div>

